body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

#row1 {
    background-color: #ffba00;
}

ul li {
    display: inline-block;
}

.txtAlert {
    text-align: left;
    padding: 10px 0px 10px 530px;
    width: 700px;
}

.image {
    text-align: right;
    width: 250px;
    padding: 10px 0px 10px 0px;
}

#row3 li {
    vertical-align: middle;
}

#row3 .inputSearchbtn {
    width: 450px;

}

#row3 .inputSearchbtn label button {
    border: 0;
    background-color: transparent;
}

#row3 .inputSearchbtn input {
    border: 0;
    border-bottom: 1px solid rgb(246, 243, 243);
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 300px;
}

#row3 .inputSearchbtn label {
    height: 30px;
    width: 30px;
}

#row3 .inputSearchbtn button {
    height: 30px;
    width: 30px;
}

#row3 .inputSearchbtn div {
    border: 1px solid black;
}

#row3 a {
    width: 20px;
    text-decoration: none;
    color: black;
}

#row3 .searchbtn {
    text-align: right;
    width: 300px;
    padding-right: 20px;
}

#row3 .searchbtn button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#row3 .rightMenu {
    text-align: left;
}

.w-300 {
    width: 300px;
}

.w-200 {
    width: 200px;

}

.w-150 {
    width: 150px;
}

.w-100 {
    width: 100px;
}

.w-500 {
    width: 500px;
}

.w-970 {
    width: 970px;
}

.w-165 {
    width: 165px;
}